

.container {
    /* width: 85%; */
    width: 70%;
    padding: 50px 0;
    margin: auto;
    height: 100%; ;
}
.container .title {
    font-size: 30px;
    margin-bottom: 35px;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;; 
}
